<div class="" xmlns="http://www.w3.org/1999/html" ng-controller="goodsCtrl">
    <div  class="container">
        <div>
        <button class="btn btn-sm " value="详情" ng-click="showAddVender()">添加订货商</button>
        <button class="btn btn-sm " value="详情" ng-click="showUpdateVender()">修改订货商</button>
        <button class="btn btn-sm " value="详情" ng-click="showAddOrder()">订货</button>
        </div>
        <div>
            <!--<div>{{product}}</div>-->
            <table class="table" show-filter="true">
                <tr>
                    <th>款号</th>
                    <th>总订单量</th>
                    <th>详情</th>
                </tr>
                <tr ng-repeat="order in orderList">
                    <td>{{order.productId}}</td>
                    <td>{{order.num}}</td>
                    <td>
                        <button class="btn btn-sm " value="详情" ng-click="getDetail(order.productId)">详情</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>