<div class="" xmlns="http://www.w3.org/1999/html">
    <div ng-controller="productCtrl" class="container">
        <div row>
            <input type="text" ng-model="query" class="form-control input-lg" value=""
                   placeholder="请输入款号,支持模糊查询"/>

            <input type="button" class="btn btn-primary pull-right "
                   ng-click="fuzzyQuery(query)" style="margin-top: 10px" value="查询">
        </div>

        <div class="content-container">
            <div row>
                <div col="12">
                    <button class="btn btn-sm " value="详情" ng-click="showAddMaterial()">面料信息</button>
                    <button class="btn btn-sm " value="详情" ng-click="showAddAccessory()">辅料信息</button>
                    <button class="btn btn-sm pull-right " value="修改" ng-click="showAddProduct()" >添加款式 </button>
                </div>

            </div>

        <div>
            <!--<div>{{product}}</div>-->
            <table class="table" show-filter="true">
                <tr>
                    <th>款号</th>
                    <th>波段</th>
                    <th></th>
                    <th></th>
                    <th>详情</th>
                </tr>
                <tr ng-repeat="product in productList">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{product.id}}</td>
                    <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                        {{product.batch}}</td>
                    <td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        <button class="btn btn-sm " value="详情" ng-click="getProduct(product.id)">详情</button>
                    </td>
                </tr>
            </table>

        </div>




        </div>
    </div>

</div>
