<div class="" xmlns="http://www.w3.org/1999/html">
    <div ng-controller="productCtrl" class="container">
        <div row>
            <input type="text" ng-model="productId" class="form-control input-lg" value=""
                   placeholder="请输入款号"/>
            <input type="button" class="btn btn-primary pull-right "
                   ng-click="queryProduct(productId)" style="margin-top: 10px" value="查询">
        </div>

        <div class="content-container">
            <div row>
                <div col="12">
                    <h1><button class="btn btn-primary pull-right " value="修改" ng-click="showAddProduct()" >添加 </button></h1>
                </div>
            </div>

        <div >
            <!--<div>{{product}}</div>-->
            <table class="table" show-filter="true">
                <tr>
                    <th>款号</th>
                    <th>批次</th>
                </tr>
                <tr ng-repeat="product in productList">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{product.id}}</td>
                    <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                        {{product.batch}}</td>
                </tr>
            </table>

        </div>




        </div>
    </div>

</div>
