.widget-links__item {
  margin-bottom: 8px;
}

.widget-links__item a {
  margin-right: 6px;
  word-break: break-word;
}

.text-muted {
  color: #777;
}

nav .container {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-default {
	background: #222E2A;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #A4BFB4;
	font-size: 16px;
	font-weight: bold;
}
/*
.navbar-default .navbar-brand a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}
*/

.navbar-default .navbar-brand {
  font-size: 30px;
}

/*
.btn-primary {
  border-color: #008b57;
  background-color: #009a61;
  background-image: -webkit-linear-gradient(top, #009a61 0%, #00905b 100%);
  background-image: -o-linear-gradient(top, #009a61 0%, #00905b 100%);
  background-image: linear-gradient(to bottom, #009a61 0%, #00905b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF009A61', endColorstr='#FF00905B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
*/

a {
  text-decoration: none;
}
/*
a:hover, a:focus {
  color: #004229;
  text-decoration: underline;
}
*/

.main-title {
  margin: 30px 0 25px;
  font-size: 18px;
  vertical-align: middle;
}

.content-container {
	padding-top: 5px;
	min-height: 600px;
    margin-bottom: 100px;
}

.question-summary {
	padding: 10px 0 0;
	border-bottom: 1px solid #eee;
}
.vote-area {
	padding-top: 20px;
}
.question-status {
	display: inline-block;
	height: 45px;
	width: 45px;

	font-size: 11px;
	color: #777;
	padding: 5px 5px 6px 5px;
	text-align: center;
}
.question-status .counts {
	font-size: 14px;
}

.answers.no-answer {
	background-color: transparent;
/*	color: #fff;*/
}
.answers.answered {
	background-color: #CD9B7A;
	color: #fff;
}
.answers.resolved {
	background-color: #3E77A3;
	color: #fff;
}

/*
ol.breadcrumb {
    margin: 0 0 10px;
    padding: 0;
    background-color: transparent;
}
*/

.question-progress {
    float:right;
}

.question-progress a {
	color: #999;
	padding: 0 5px 0 0;
	font-size: 13px;
}

.question-title {
	font-size:14px;
	font-weight: 700;
	line-height: 1.2;
	margin: 5px 0 7px;
  word-break: break-all;
}

.question-title a {
	color: #333;
}

.tag-list {
	display: inline-block;
	list-style: none;
	padding: 0;
}
.tag-list.multi-line li{
	margin: 4px;
}

.tag-list li {
	display: inline-block;
	margin-right: 4px;
	padding: 0;
	font-size: 13px;
}

.tag-list li a {
	display: inline-block;
	padding: 3px 6px;
	font-size: 9px;
	text-align: center;
	
	color: #337ab7;
	background-color: #E0E0E0;
}

.tag-list li a:hover {
	background-color: #337ab7;
	color: #fff;
	text-decoration: none;
}

.search-topheader {
  padding: 15px 0;
  background: #f3f3f3;
}

.post-topheader {
    padding: 15px 0;
    background: #f3f3f3;
}

.post-title {
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;
}

.wrap {
    padding-bottom: 30px;
    position: relative;
}

.post-topheader .author {
    margin-top: 10px;
    color: #999;
}

.taglist--inline, .taglist--block {
    list-style: none;
    padding: 0;
    font-size: 0;
}

.mb20, .mb-20 {
    margin-bottom: 20px;
}

.post-topheader .title {
    margin: 0;
}

.widget-action--ver li:first-child {
    margin-top: 0;
}

.widget-action--ver li {
    margin-top: 12px;
}

h3, .h3 {
    font-size: 24px;
}

.mr5, .mr-5 {
    margin-right: 5px;
}

.avatar-24 {
    width: 24px;
    height: 24px;
}

.mr10, .mr-10 {
    margin-right: 10px;
}

.post-topheader .widget-action--ver {
    margin-top: 10px;
}

.widget-action--ver {
    color: #999;
}

.list-unstyled, .list-inline {
    padding-left: 0;
    list-style: none;
}

.widget-action--ver .no-stress {
    font-weight: normal;
}

.mt30, .mt-30 {
    margin-top: 30px;
}

.post-col {
    float: left;
    width: 36px;
    position: relative;
}

.widget-vote {
    position: relative;
    width: 36px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    background: #f3f3f3;
    color: #666;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.widget-comments .votes {
    position: relative;
    text-align: center;
    float: left;
    margin: 5px 10px 0 0;
    width: 20px;
    height: 30px;
    line-height: 40px;
    font-size: 12px;
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.widget-comments .widget-comments__item {
    margin-bottom: 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAEUlEQVQIHWO4e/fufxBmgAIAWVEHLYEgi9EAAAAASUVORK5CYII=) repeat-x bottom;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.widget-vote .like {
    top: 0;
    height: 36px;
}

.post-offset {
    margin-left: 50px;
}

.widget-vote .hate {
    bottom: 0;
    height: 18px;
    background-position: 0 bottom;
}

.widget-comments {
    list-style: none;
    margin: 0 0 15px;
    font-size: 13px;
    color: #666;
    padding: 10px;
    background-color: #F6F6F6;
    border-radius: 2px;
}

.widget-comments .comment-content {
    overflow: auto;
}

.wordbreak {
    word-break: break-all;
}

.widget-comments .fmt {
    font-size: 13px;
}

.accepted-flag {
    position: relative;
    margin: 10px 0 0;
    background-color: #449d44;
    width: 100%;
    height: 25px;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    color: #FFF;
    z-index: 1;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px 0 0;
}

.accepted-flag:after {
    position: absolute;
    left: 0;
    top: 25px;
    content: '';
    border-width: 9px 18px;
    border-style: solid;
    border-color: #449d44 #449d44 transparent #449d44;
}

.qa-question .widget-comments {
    margin-top: 10px;
}

.fmt {
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word;
}

.widget-vote button {
    position: absolute;
    left: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    background: transparent url("../img/useful.png") 0 0 no-repeat;
    -moz-background-size: auto 54px;
    -o-background-size: auto 54px;
    -webkit-background-size: auto 54px;
    background-size: auto 54px;
}

.fmt {
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word; 
}

.fmt img{
	max-width: 650px;
}

.editor img{
	max-width: 650px;
}

.editor-other {
	word-break: break-all;
}

.taglist--inline, .taglist--block {
    list-style: none;
    padding: 0;
    font-size: 0;
}

.taglist--inline>li {
    display: inline-block;
    margin-right: 5px;
}

.tag {
    display: inline-block;
    padding: 0 8px;
    color: #38948B;
    background-color: #E7F2ED;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
}

.popover.top {
    margin-top: -10px;
}

.fade.in {
   /* opacity: 1;*/
}

.tag-popup {
    width: 276px;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    white-space: normal;
}

.popover.top>.arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,0.25);
    bottom: -11px;
}

.tag-popup .popover-title {
    background-color: #FFF;
    padding-bottom: 0;
    border-bottom: none;
    font-weight: bold;
}

.tag-popup .popover-content {
    font-size: 13px;
    color: #666;
}

.tag-popup .popover-footer {
    margin: 0 14px;
    padding: 10px 0;
    font-size: 13px;
    line-height: 22px;
    border-top: 1px solid #EEE;
}

.text-muted {
    color: #777;
}

.pull-right {
    float: right !important;
}

.mt15, .mt-15 {
    margin-top: 15px;
}

.tag-popup .popover-footer .followers {
    margin-right: 5px;
    vertical-align: middle;
}

.btn-default {
    border-color: #f7f7f7;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #fff 0%, #fafafa 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #fafafa 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #fafafa 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFAFAFA', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: #ccc;
    color: #666;
}

.fmt {
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word;
}

.widget-answers__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.post-offset .avatar-24 {
    float: right;
}

.search-question:hover {
  background-color: #fcf8e3;
}

.search-question {
  margin: 0 -8px;
  padding: 5px 8px;
}

.search-excerpt {
  font-size: 13px;
  color: #666;
  line-height: 1.5;
  word-wrap: break-word;
}

.search-button, .search-button:active, .search-button:hover, .search-button:focus{
  margin-top: 10px;
  border-color: transparent;
  background: #3F4F49;
}

.search-input {
  margin-top: 10px;
  width: 200px;
  border-color: transparent;
  background: #3F4F49;
  color: white;
  padding: 6px 12px;
  height: 32px;
}

.login-container {
  margin: 20px 70px auto;
  width: 360px;
  position: relative;
}

.login-input {
  height: 48px;
  font-size: 16px;
}

.login-button {
  height: 48px;
  font-size: 16px;
  width: 360px;
  border-radius: 80px;
}

.head-ul {
	background: #14324E;
	min-width: 100px;
}

.head-li {
	min-width: 100px;
	width: 100%;
}



.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}


.ask-blue{
  border-color: #0eb4f1;
  background-color: #0eb4f1;
}

.input-tag{
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  width:160px;
}

.input-tag-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.ask-app-template{
  background: #f3f3f4;
}

.ask-edit-background{
  background: #f3f3f4;
}

.white-background{
background-color: #fff;
}

.widget-addtags2 {
  width: 160px;
  
  
  padding: 0;

  margin-right: 20px;
}

.widget-addtags .widget-addtags__input {
  width: 160px;
  padding: 0;
  margin-right: 10px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-sm, .form-horizontal .form-group-sm .form-control, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.container-main {
    margin: auto;
    width: 300px;
}

.container-autocomplete {
    margin: auto;
    width: 200px;
    position: relative;
}

.autocomplete-suggestions-menu {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    width: 100%;
}

.container-autocomplete input {
    width: 100%;
}

.autocomplete-suggestions-menu p:hover {
    cursor: default;
}

.autocomplete-suggestions-menu .selected {
    color: #CCCCCC;
    background: yellow;
}













element.style {
  text-transform: lowercase;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
button[disabled], html input[disabled] {
  cursor: default;
}
.input-sm, .form-horizontal .form-group-sm .form-control, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.sidebarUser {
  padding-left: 15px;
  font-size: 15px;
  color: #666;
  padding-top: 5px;
  display: block;
  padding-bottom: 5px;
}
.sidebarUser:hover {
  
  color: #337ab7;
  background-color: #F6F6F6;
}
.logo-img {
  float: left;
  display: inline-block;
  width: 42px;
  height: 50px;
  background: url(https://t.alipayobjects.com/images/T1T6dfXctkXXXXXXXX.png)0 10px no-repeat;
  background-size: contain;
}




