<div class="header">


    <div class="header ng-scope" row="">
        <div class="header-cnt" row="">
            <span class="logo-img"></span>
            <a class="logo" ui-sref="home.index" href="#/" style="padding-left: 10px;">
                枝鲁
            </a>
            <ul class="nav">
                <li>
                    <a ui-sref="product.info" >款式管理</a>

                </li>
                <li>
                    <a ui-sref="product.material">面料管理</a>
                </li>
                <li>
                    <a ui-sref="product.accessory">辅料管理</a>
                </li>
                <li>
                    <a ui-sref="goods.manage">货品管理</a>
                </li>

            </ul>
        </div>
    </div>


</div>